idea_out/
build.properties
bin/
gen/
out/
.idea/
.classpath
.project
local.properties
build-log.xml
build.log
**/build/*
# include buildSrc files in version control
!**/buildSrc/**
buildSrc/build/*
**/*.iml
taskArtifacts/
.gradle/
mGerrit_release.keystore
signing.properties
caches/
daemon/
gradle/caches/
gradle/daemon/
*.*~
.DS_Store
private.creds
buildSrc/local.properties
