# Use Glob syntax
syntax: glob

idea_out/
build.properties
bin/
gen/
out/
*.iml
.idea/
.classpath
.project
local.properties
build-log.xml
build.log
build/
taskArtifacts/
.gradle/
mGerrit_release.keystore
signing.properties
caches/
daemon/
gradle/caches/
gradle/daemon/
*.*~
.DS_Store
private.creds
