<?xml version="1.0" encoding="utf-8"?>
<!--
  ~
  ~ Copyright (C) 2015 Android Open Kang Project (AOKP)
  ~  Author: Evan Conway (p4r4n01d), 2015
  ~
  ~  Licensed under the Apache License, Version 2.0 (the "License");
  ~  you may not use this file except in compliance with the License.
  ~  You may obtain a copy of the License at
  ~
  ~       http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~  Unless required by applicable law or agreed to in writing, software
  ~  distributed under the License is distributed on an "AS IS" BASIS,
  ~  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~  See the License for the specific language governing permissions and
  ~  limitations under the License.
  ~
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jbirdvegas.mgerrit">
    <!-- versionName  & versionCode are managed by gradle -->

    <!-- uses-sdk is managed by gradle -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- We cannot support Google deep linking due to adding custom Gerrits -->
    <!--Add TargetAPI to remove the parentActivity warnings, which we have already handled-->
    <application
        android:name=".TheApplication"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/Theme.Light"
        android:allowBackup="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="jelly_bean">
        <activity
            android:name=".activities.GerritControllerActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.SEARCH" />

            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/changes_searchable"/>
        </activity>
        <activity android:name=".activities.PatchSetViewerActivity"
            android:parentActivityName=".activities.GerritControllerActivity"
            android:windowSoftInputMode="stateUnchanged|adjustPan">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <!--See: http://developer.android.com/training/implementing-navigation/ancestral.html -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.GerritControllerActivity" />
        </activity>
        <activity android:name=".activities.PrefsActivity"
            android:parentActivityName=".activities.GerritControllerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.GerritControllerActivity" />
        </activity>
        <activity android:name=".activities.ProjectsList"
            android:parentActivityName=".activities.GerritControllerActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/projects_searchable"/>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.GerritControllerActivity" />
        </activity>
        <activity android:name=".activities.DiffViewer"
            android:parentActivityName=".activities.GerritControllerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.GerritControllerActivity" />
        </activity>
        <activity android:name=".activities.GerritSwitcher"
            android:parentActivityName=".activities.PrefsActivity"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.PrefsActivity" />
        </activity>
        <activity android:name=".activities.SigninActivity"
            android:parentActivityName=".activities.GerritControllerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.GerritControllerActivity" />
        </activity>
        <activity android:name=".activities.ReviewActivity"
            android:parentActivityName=".activities.PatchSetViewerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.PatchSetViewerActivity" />
        </activity>
        <activity android:name=".activities.RefineSearchActivity"
            android:parentActivityName=".activities.GerritControllerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.GerritControllerActivity" />
        </activity>
        <service android:name=".tasks.GerritService" />
        <provider
            android:name=".database.DatabaseFactory"
            android:authorities="com.jbirdvegas.provider.mgerrit"
            android:exported="false">
        </provider>
    </application>
</manifest>
